name: Build and Release Tauri App

on:
    push:
        tags:
            - 'v*' # Déclenche le workflow pour les tags commençant par 'v'
    pull_request:

jobs:
    build:
        runs-on: windows-latest

        steps:
            # Étape 1 : Cloner le dépôt
            - name: Checkout Repository
              uses: actions/checkout@v3

            # Étape 2 : Installer Rust
            - name: Setup Rust
              uses: actions-rs/toolchain@v1
              with:
                  profile: minimal
                  toolchain: stable
                  override: true

            # Étape 3 : Installer Node.js
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '18'

            # Étape 4 : Installer les dépendances du projet
            - name: Install Dependencies
              run: npm install

            # Étape 5 : Construire l'application Tauri
            - name: Build Tauri App
              run: npm run tauri build

            # Étape 6 : Vérifier les fichiers générés
            - name: List Files
              run: |
                  ls -R src-tauri/target/release/bundle

            # Étape 7 : Créer une release GitHub
            - name: Create GitHub Release
              id: create_release
              uses: actions/create-release@v1
              with:
                  name: Release ${{ github.ref_name }}
                  tag_name: ${{ github.ref_name }}
                  draft: false
                  prerelease: false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            # Étape 8 : Upload du fichier setup.exe à la release
            - name: Upload setup.exe to Release
              uses: softprops/action-gh-release@v1
              with:
                  files: |
                      src-tauri/target/release/bundle/nsis/*.exe
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            # Étape 9 : Upload des artefacts (optionnel, pour conserver les fichiers dans les artefacts du workflow)
            - name: Upload Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: Tauri-Build
                  path: |
                      src-tauri/target/release/bundle/msi/*.msi
                      src-tauri/target/release/bundle/nsis/*.exe
